{{ define "card" }}
    <div class="card">
        <div class="label">{{ .Name }}</div>
        <div class="value">
            {{ template "card.value" . }}
            <span class="unit">{{ .Unit }}</span>
        </div>
    </div>
{{ end }}

{{ define "card.value" }}
    <span id="{{ .Name | ToLower }}">{{ .Value }}</span>
{{ end }}